html, body, form {
    height: 100%;
}
#sidebar{
    background: #444444	;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}
.wapper label{
    color: 	#DDDDDD;
    text-align: right;
}
@keyframes opacity0
{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes opacity1
{
	0% {opacity:0;}
	100% {opacity:1;}
}
